In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
df = pd.DataFrame({'Nome': ['Edu', 'Ana', 'Bob', 'Jon', 'Lia'],
'Idade': [25, 30, 35, 40, 45],
'Peso': [70, 65, 80, 75, 85]})
df

  Nome  Idade  Peso
0  Edu     25    70
1  Ana     30    65
2  Bob     35    80
3  Jon     40    75
4  Lia     45    85

In [4]:
df.loc[[0,2,4]]

  Nome  Idade  Peso
0  Edu     25    70
2  Bob     35    80
4  Lia     45    85

In [5]:
print(df.loc[1:2, ['Nome', 'Peso']])

  Nome  Peso
1  Ana    65
2  Bob    80

In [6]:
df = pd.DataFrame({'estado': ['SP', 'SP', 'RJ', 'RJ', 'MG'],
                    'cidade': ['Cascavel', 'Bonito', 'Bom Jesus', 'Planalto', 'Bonito'],
                    'população': [10000, 20000, 15000, 25000, 30000]})
df.set_index(['estado', 'cidade'], inplace=True)

#mostar todas as cidades com nome Bonito
print(df.xs('Bonito', level='cidade'))

        população
estado
SP          20000
MG          30000

In [20]:
df = pd.read_csv('SpotifyFeatures.csv')
df.energy.quantile(.9)

0.901