In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
df = pd.DataFrame({'Nome': ['Edu', 'Ana', 'Bob', 'Jon', 'Lia'],
'Idade': [25, 30, 35, 40, 45],
'Peso': [70, 65, 80, 75, 85]})
df

  Nome  Idade  Peso
0  Edu     25    70
1  Ana     30    65
2  Bob     35    80
3  Jon     40    75
4  Lia     45    85

In [4]:
df.loc[[0,2,4]]

  Nome  Idade  Peso
0  Edu     25    70
2  Bob     35    80
4  Lia     45    85

In [5]:
print(df.loc[1:2, ['Nome', 'Peso']])

  Nome  Peso
1  Ana    65
2  Bob    80

In [6]:
df = pd.DataFrame({'estado': ['SP', 'SP', 'RJ', 'RJ', 'MG'],
                    'cidade': ['Cascavel', 'Bonito', 'Bom Jesus', 'Planalto', 'Bonito'],
                    'população': [10000, 20000, 15000, 25000, 30000]})
df.set_index(['estado', 'cidade'], inplace=True)

#mostar todas as cidades com nome Bonito
print(df.xs('Bonito', level='cidade'))

        população
estado
SP          20000
MG          30000

In [7]:
df = pd.read_csv('SpotifyFeatures.csv')
df.energy.quantile(.9)

0.901

In [8]:
# Qual é a música mais popular de cada gênero?
df.groupby('genre')['popularity'].idxmax()

genre
A Capella              552
Alternative            671
Anime                27732
Blues                45632
Children's Music     71689
Children’s Music     77053
Classical           104023
Comedy              167315
Country             212275
Dance                 9027
Electronic           22169
Folk                 40496
Hip-Hop              66643
Indie                92824
Jazz                145430
Movie               181735
Opera                57584
Pop                 107804
R&B                 152266
Rap                  86951
Reggae              122398
Reggaeton           138918
Rock                166057
Ska                 156521
Soul                191939
Soundtrack          197504
World               207149
Name: popularity, dtype: int64

In [64]:
%%timeit -n 10
# import matplotlib.pyplot as plt
# _, ax = plt.subplots()
data = df.groupby('genre')['duration_ms'].list()
# data
# ax.boxplot(data.values, labels=data.index)0
# plt.xticks(rotation=90)
# plt.show()

AttributeError: 'SeriesGroupBy' object has no attribute 'list'

In [26]:
df.boxplot(column='duration_ms', by='genre', rot=90, ax=ax)

In [9]:
# qual o nome da música mais popular de cada gênero?
print(df.loc[df.groupby('genre')['popularity'].idxmax()][['genre', 'track_name']])

                   genre                                      track_name
552            A Capella                            For the Longest Time
671          Alternative                                       Sanctuary
27732              Anime                                         Unravel
45632              Blues                              Sweet Home Alabama
71689   Children's Music                          Lullaby and Good Night
77053   Children’s Music    11 Minutes (with Halsey feat. Travis Barker)
104023         Classical                                Olancha Farewell
167315            Comedy                                        Kickapoo
212275           Country                                 Beautiful Crazy
9027               Dance                                         7 rings
22169         Electronic  Taki Taki (with Selena Gomez, Ozuna & Cardi B)
40496               Folk                                   Power Over Me
66643            Hip-Hop                                       Con Calma
92824              Indie                                      Without Me
145430              Jazz                                       September
181735             Movie                                    Never Enough
57584              Opera                                 "Nessun dorma!"
107804               Pop                                         7 rings
152266               R&B       Close To Me (with Diplo) (feat. Swae Lee)
86951                Rap                                            Wow.
122398            Reggae                              Three Little Birds
138918         Reggaeton                                       Con Calma
166057              Rock                                      High Hopes
156521               Ska                               Lamento Boliviano
191939              Soul                                       All of Me
197504        Soundtrack                       A Catalogue Of Afternoons
207149             World                                   Reckless Love